<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="43waves" />
  <meta name="description" content="We craft apps and make things easier."/>

  <link rel"alternate" type="application/rss+xml" href="http://feeds.feedburner.com/43waves" />
  <link rel="stylesheet" type="text/css" media="screen, projection" href="/css/compiled/base.css" />
  <link rel="stylesheet" type="text/css" href="/css/plugins/pygments.css" />
  <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="/css/iphone.css" />
  <link rel="stylesheet" type="text/css" media="only screen and (device-width: 768px)" href="/css/ipad.css" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
  <link rel="43waves-icon" href="/43waves-icon.png" />

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/compiled/application.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      {{ page.script }}
    });
  </script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35713977-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>
  <section class="sidebar">
    <a href="/">
      <img src="http://gravatar.com/avatar/4090148590acdd31b5a96bb63d0c2293?s=142" height="75" width="75" class="avatar" />
    </a>

    <section class="name">
      <a href="/">
        <span id="waves">43waves</span>
      </a>
    </section>

    <section class="alt-text">&nbsp;</section>

    <section class="meta">
<!--       <a href="https://github.com/43waves" id="github">
        <img src="/images/github.png" alt="github" title="@43waves on GitHub" height="16" width="16" />
      </a> -->
      <a href="https://twitter.com/43waves" id="twitter">
        <img src="/images/twitter.png" alt="twitter" title="@43waves on Twitter" height="16" width="16" />
      </a>
      <a href="https://play.google.com/store/apps/developer?id=43waves" id="play">
        <img src="/images/play.png" alt="play" title="Get 43waves Android apps" height="16" width="16" />
      </a>
      <a href="http://feeds.feedburner.com/43waves" id="rss">
        <img src="/images/rss.png" alt="rss" title="Subscribe to 43waves RSS feed" height="16" width="16" />
      </a>
    </section>

    <section class="sections">
      <ul>
        <li><a href="/about">about</a></li>
      </ul>
    </section>
  </section>

  {{ content }}

</body>
</html>
