<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html"; charset='utf-8' />
    <meta name="author" content="43waves" />
    <title>{{ page.title }}</title>

    <link rel"alternate" type="application/rss+xml" href="http://feeds.feedburner.com/43waves" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/css/styles.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/css/syntax.css" /> -->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.boastful.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#boastful').boastful()
      });
    </script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35713977-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body>
    <div class="content">
      <div id="header">
        <a href="/">
          <img src="http://www.gravatar.com/avatar/4090148590acdd31b5a96bb63d0c2293.png" height="48" width="48" class="avatar" />
        </a>
        <div id="byline">
          <p>I write about Android, Ruby, and startups.</p>
          <p>I made <a href="https://play.google.com/store/apps/developer?id=kumabotz">Android Apps</a>.</p>
        </div>
        <div id="title"><a href="/">43waves</a></div>
      </div>
    </div>

    {{ content }}

    <div id="foots">
      <div class="content">
        follow me on <a href="http://twitter.com/43waves">43waves</a> and your
        peers will envy you.
      </div>
    </div>
  </body>
</html>
