<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="author" content="43waves" />
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" media="screen, projection" href="stylesheets/styles.css">

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35713977-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body>
    <div id="content">
      <div id="header">
        <a href="/"><img src="http://www.gravatar.com/avatar/4090148590acdd31b5a96bb63d0c2293.png" height="48" width="48"></a>
        <div id="title"><a href="/">43waves</a></div>
        <div id="misc">
          <a href="http://twitter.com/43waves">twitter</a>
        </div>
      </div>

      {{ content }}

    </div>
  </body>
</html>
