---
layout: layout
---

<section class="content">
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}
</section>

<div class="whoring">
  <h3>Discussion, links and tweets</h3>
  <div class="copy">
    <a href="https://twitter.com/43waves">
      <img src="http://gravatar.com/avatar/4090148590acdd31b5a96bb63d0c2293?s=142" height="50" width="50" />
    </a>

    <p>We craft <a
      href="https://play.google.com/store/apps/developer?id=43waves">apps</a> and make things easier.</p>

    {% if page.hn %}
    <p>You can discuss, upvote, downvote and poke fun of this post over at <a
      href="{{ page.hn }}">Hacker News</a>.</p>
    {% endif %}

    <a href="http://twitter.com/share" class="twitter-share-button"
      data-count="none" data-via="43waves">Tweet</a>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

    <a href="http://twitter.com/43waves" class="twitter-follow-button"
      data-show-count="false">Follow @43waves</a>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </div>
</div>
